body {
    width:200px;
    text-align: center;
    padding:10px;
}

.popup_btn {
    text-decoration:none;
    background-color:#4C8EBF;
    color:#FFFFFF;
    padding:5px;
}

input {
    width:90%;
}

#progress_bar, #stop {
    display: none;
}